.site-nav {
    display: flex;
    position: fixed;
    height: 250px;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: 83px 110px;
    z-index: 99;
    transition: all 0.6s ease-in-out;
    .logo {
        .desktop-logo {
            height: 125px;
            width: auto;
            transition: all 0.6s ease-in-out;
        }
    }
    .btn {
        align-self: center;
        i {
            display: block;
            @include mq(md) {
                display: none;
            }
        }
    }
    .social-icons {
        margin-left: auto;
        margin-right: 3.5vw;
        align-self: center;
        li {
            margin-left: 3vw;
            a {
                font-size: 21px;
                color: $white;
                &:hover {
                    color: $primary;
                }
            }
        }
    }
    .menu,
    button {
        display: none;
    }
    .sub-menu {
        display: none;
    }
    // offset if WP admin bar is present
    .admin-bar & {
        top: 46px;
        @media (min-width: 783px) {
            top: 32px;
        }
    }
    &.sticky {
        background: rgba($secondary, 0.8);
        padding: 12px 25px;
        box-shadow: rgba($white, 0.1) 0 0 4px;
        height: 100px;
        .logo {
            .desktop-logo {
                height: 100%;
                width: auto;
            }
        }
    }
}