html {
    background: white;
    font-size: 18px;
}

body {
    font-size: 1rem;
    line-height: 1.38em;
    font-family: $avenir;
}

*:last-child {
    margin-bottom: 0;
}

a {
    &:hover {
        text-decoration: none;
    }
}

p {
    margin-bottom: 35px;
}

.site-wrap {
    overflow: hidden;
}

// Remove subpixel-antialiased default but keep for retina resolutions.
// http://www.intridea.com/blog/2014/5/8/better-font-smoothing-in-chrome-on-mac-os-x
*,
*:after,
*:before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    @media only screen and (-webkit-min-device-pixel-ratio: 1.25),
        only screen and (min-device-pixel-ratio: 1.25),
        only screen and (min-resolution: 200dpi),
        only screen and (min-resolution: 1.25dppx) {
        -webkit-font-smoothing: subpixel-antialiased;
    }
}

// Remove text-shadow in selection highlight:
// https://twitter.com/miketaylr/status/12228805301
::-moz-selection {
    background: $selection-highlight-background;
    color: $selection-highlight-color;
    text-shadow: none;
}

::selection {
    background: $selection-highlight-background;
    color: $selection-highlight-color;
    text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $primary-font;
}

h1 {
    font-size: 2.1rem;
    line-height: 1.19em;
    @include mq(md) {
        font-size: 3rem;
    }
    @include mq(xxl) {
        font-size: 5rem;
    }
}

h2 {
    font-size: 2.1rem;
    line-height: 1em;
    @include mq(md) {
        font-size: 3rem;
    }
    @include mq(xxxl) {
        font-size: 5.333rem;
    }
    span {
        display: block;
        font-family: $avenir;
        text-transform: uppercase;
        -webkit-text-stroke: 1px $white;
        -webkit-text-fill-color: $secondary;
        font-weight: black;
        font-size: 0.75em;
        line-height: 1em;
    }

    body:not(.home) & {
        font-family: $avenir;
        font-style: normal;
        font-weight: 900;
        font-size: 1.8rem;
        line-height: 1em;
        color: $secondary;
        margin-bottom: 26px;

        @include mq(md) {
            font-size: 2.3rem;
        }
    }
}

h3 {
    font-size: 2rem;
    line-height: 1.1em;
    position: relative;
    margin-bottom: 35px;
    @include mq(lg) {
        font-size: 3.11rem;
    }
    &.dot {
        &::before {
            content: "";
            height: 12px;
            width: 12px;
            background: $primary;
            position: absolute;
            top: 15px;
            left: -28px;
        }
    }
}
