.block-gallery {
    background-position: 71%;
    background-size: cover;

    @include mq(md) {
        background-position: center;
    }
}

.block__gallery {
    display: flex;
    align-items: flex-end;
    padding-bottom: 140px;
    height: 100vh;

    @include mq(md) {
        padding-bottom: 20vh;
    }
    @include mq($until: xl) {
        margin: 0;
    }
    @include mq(md, xl) {
        max-height: 800px;
    }
    @include mq(xxl) {
        height: 100vh;
    }
    h2 {
        font-family: $avenir;
        display: flex;
        align-items: center;
        width: 100%;
        text-transform: uppercase;
        justify-content: center;
        margin-bottom: 35px;
        color: $black;
        white-space: nowrap;

        @include mq(md) {
            -webkit-text-stroke: 1px $black;
            -webkit-text-fill-color: transparent;
            color: unset;
            justify-content: unset;
            margin-bottom: 0;
        }
        &::after {
            width: 100%;
            margin: 0 20px;
            height: 1px;
            background: $black;

            @include mq(md) {
                content: "";
                display: block;
            }
        }
    }

    .flex--gallery {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;

        @include mq(md) {
            flex-direction: row;
        }
    }

    .btn-primary {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        @include mq(lg) {
            height: 78px;
            width: 300px;
        }
        @include mq(xxl) {
            font-size: 32px;
            line-height: 44px;
            height: 98px;
            width: 441px;
        }

        &::before {
            top: unset;
            width: 49px;
            left: -20px;
        }
    }
}

.gallery--page {
    padding: 90px 0;
    position: relative;

    @include mq(lg) {
        padding: 120px 0;
    }
    @include mq(xxl) {
        padding: 180px 0;
    }

    h2 {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 1.77rem;
        line-height: 1.375em;
        font-weight: 900;
        margin-bottom: 55px;

        @include mq(md) {
            white-space: nowrap;
        }

        &::after {
            content: "";
            display: block;
            margin-left: 20px;
            height: 1px;
            background: $secondary;
            width: 30%;

            @include mq(md) {
                width: 100%;
            }
        }
    }

    .card__gallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        margin-bottom: 10vh;

        @include mq(md) {
            grid-template-columns: 1fr 1fr;
        }
        @include mq(xl) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        a {
            color: $secondary;
            display: block;
            height: 100%;
            width: 100%;
            padding: 9px;
        }
        .card--display {
            margin-bottom: 0;
            background: #ffffff;
            border: 1px solid #e9e9e9;
            border-radius: 5px;
            transition: all 0.4s ease-in-out;
            -webkit-transition: all 0.4s ease-in-out;

            &:hover {
                box-shadow: 0px 4px 25px rgba(31, 37, 142, 0.15);
            }

            p {
                font-family: $avenir;
                font-style: italic;
                font-weight: 500;
                font-size: 14px;
                line-height: 19px;
                color: #c6c6c6;
            }
        }

        .ba__holder {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 5px;
            margin-bottom: 13px;
            font-style: italic;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            color: #333333;

            .item {
                overflow: hidden;
                img {
                    max-width: 100%;
                    height: auto;
                    width: 100%;
                    transition: all 0.3s ease-out;
                    -webkit-transition: all 0.3s ease-out;
                }
            }
        }
        .bottom-link {
            position: relative;
            display: flex;
            align-items: center;

            .line {
                height: 1px;
                width: 100%;
                margin: 0 0 0 5px;
                background: $secondary;
            }
            h3 {
                font-family: $avenir;
                font-style: normal;
                font-weight: 900;
                font-size: 18px;
                line-height: 25px;
                color: $secondary;
                white-space: nowrap;
                margin: 0;
            }

            i {
                width: 35px;
                height: 35px;
                background: #ffffff;
                border: 1px solid $secondary;
                border-radius: 17.5px;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                align-items: center;
                justify-content: center;
                color: $secondary;
            }
        }

        &.card__gallery--horizontal {
            grid-template-columns: 1fr;

            .card--display {
                .flex--gallery {
                    display: flex;
                    flex-direction: column;

                    @include mq(md) {
                        flex-direction: row;
                    }

                    img {
                        width: 100%;

                        @include mq(md) {
                            width: 175px;
                        }
                    }

                    .description__area {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        justify-content: space-between;

                        @include mq(md) {
                            padding-left: 30px;
                        }

                        h3 {
                            font-family: $avenir;
                            font-style: normal;
                            font-weight: 900;
                            font-size: 18px;
                            line-height: 24px;
                            color: $secondary;
                        }

                        p.line {
                            position: relative;
                            display: flex;
                            align-items: center;
                            margin-bottom: 20px;

                            &::before {
                                content: "";
                                display: block;
                                width: 100%;
                                height: 1px;
                                background: $secondary;
                            }

                            i {
                                width: 35px;
                                height: 35px;
                                background: #ffffff;
                                border: 1px solid $secondary;
                                border-radius: 17.5px;
                                position: absolute;
                                right: 0;
                                top: 50%;
                                transform: translateY(-50%);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: $secondary;
                            }
                        }
                    }
                }

                &.card--single {
                    padding: 38px 15px;
                    display: flex;
                    flex-direction: column;

                    @include mq(md) {
                        flex-direction: row;
                    }

                    .description__area {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        padding-top: 30px;

                        @include mq(md) {
                            padding-left: 30px;
                        }

                        h3 {
                            font-family: $avenir;
                            font-style: normal;
                            font-weight: 900;
                            font-size: 18px;
                            line-height: 24px;
                            color: $secondary;
                        }

                        p {
                            font-family: $avenir;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 24px;
                            color: #333333;
                        }
                    }
                }
            }
        }
    }

    aside.sidebar--gallery {
        position: relative;
        background: $secondary;
        color: $white;
        padding: 50px 25px;
        width: 100%;

        @include mq(xxl) {
            right: 0;
            top: 180px;
            position: absolute;
            padding: 50px 45px;
            width: 15vw;
        }

        .sidebar__widget {
            .section__toggle {
                display: block;
                position: relative;

                h5 {
                    color: $white;
                    border-bottom: 1px solid $white;
                    padding-bottom: 10px;
                    position: relative;
                    font-family: $avenir;
                    cursor: pointer;
                    i {
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }

                .toggle__down {
                    display: block;
                    padding: 0 0 0 15px;
                    margin: 0;
                    list-style: none;
                    opacity: 1;
                    max-height: 500px;
                    transition: all 0.5s ease-in-out;
                    overflow: hidden;

                    li {
                        a {
                            font-family: $avenir;
                            color: #ccc;
                            display: block;
                            font-size: 16px;
                            line-height: 2em;

                            &:hover {
                                color: $primary;
                            }
                        }
                    }
                }

                &.closed {
                    .toggle__down {
                        max-height: 0;
                        opacity: 0;
                        transition: all 0.5s ease-in-out;
                    }
                }
            }
        }
    }
}
