.block-hero {
    background-size: cover;
    background-position: 68%;
    position: relative;
    z-index: 0;
    margin: 0;
    @include mq(xl) {
        background-position: center;
    }
    &::before {
        @include pseudo_cover();
        background: linear-gradient(
            90deg,
            #000000 7.37%,
            rgba(0, 0, 0, 0.0001) 47.82%
        );
        z-index: -1;
    }
}

.block__hero {
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
    align-items: center;
    margin: 0;
    padding-top: 30vh;
    @include mq(sm) {
        padding-top: 20vh;
    }
    @include mq(md) {
        padding-top: 10vh;
    }
    h1 {
        color: $white;
        position: relative;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        &::after {
            content: "";
            width: 100%;
            background: $white;
            height: 1px;
            display: inline-block;
            margin-left: 25px;
            position: relative;
            margin: 16px 0 15px 25px;
        }

        a {
            color: $white;

            &:hover {
                color: $primary;
            }
        }
    }

    h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 1.15em;
        text-transform: uppercase;
        white-space: nowrap;
        display: flex;
        align-items: center;

        @include mq($until: md) {
            margin: 20px 0;
        }

        @include mq(md) {
            font-size: 2.8rem;
        }
        @include mq(lg) {
            font-size: 3.8rem;
        }

        @include mq(xxxl) {
            font-size: 6.8rem;
        }
        &::before {
            content: "";
            width: 100%;
            background: $primary;
            height: 1px;
            display: block;
            margin-right: 25px;
            position: relative;
            margin: 16px 25px 15px 0;
        }
        a {
            color: $primary;

            &:hover {
                color: $white;
            }
        }
    }

    h3 {
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: center;

        @include mq(md) {
            font-size: 2.8rem;
        }
        @include mq(lg) {
            font-size: 3.4rem;
        }
        @include mq(xxxl) {
            font-size: 5.4rem;
        }

        a {
            &:hover {
                color: $white;
            }
        }
    }
}
