.block-hero {
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    &::before {
        @include pseudo_cover();
        background: linear-gradient( 90deg, #000000 7.37%, rgba(0, 0, 0, 0.0001) 47.82%);
        z-index: -1;
    }
}

.block__hero {
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
    align-items: center;
    h1 {
        color: $white;
        position: relative;
        text-transform: uppercase;
        &::after {
            content: "";
            width: 20%;
            background: $white;
            height: 1px;
            display: inline-flex;
            margin-left: 45px;
            position: relative;
            bottom: 25px;
        }
    }
}