.block-reviews_home {
    text-align: center;
    padding: 170px 0;
    h3 {
        font-family: $avenir;
        color: $secondary;
        font-weight: 500;
    }
    #stars {
        margin-bottom: 59px;
    }
    p {
        font-size: 1.777rem;
        line-height: 1.3em;
        color: #333;
        font-weight: 500;
    }
}