.block-two_columns_one_image {
    position: relative;
    .logo__holder {
        height: 26vw;
        width: 26vw;
        background: $white;
        border-radius: 100em;
        position: absolute;
        top: 0;
        left: 8.3333%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2vw;

        @media screen and (max-height: 700px) {
            height: 20vw;
            width: 20vw;
            padding: 1vw;
        }
    }
    .logo__small-circle {
        width: 100%;
        height: auto;
    }
    .content__holder {
        border-radius: 50px 0;
        background: $secondary;
        padding: 50px 25px;
        color: $white;
        height: 100%;
        @include mq(md) {
            padding: 50px 35px;
        }
        @include mq(xl) {
            padding: 14vh 5.2vw;
        }
        h2 {
            color: $primary;
            margin-bottom: 35px;
            @include mq(xxl) {
                margin-bottom: 45px;
            }

            strong {
                font-family: $avenir;
                font-weight: 900;
                line-height: 1em;
                text-transform: uppercase;
                -webkit-text-stroke: 1px #fff;
                -webkit-text-fill-color: transparent;
                font-size: 1em;
                display: block;

                @include mq(md) {
                    font-size: 1.2em;
                }

                @include mq(xxl) {
                    font-size: 4rem;
                }
            }
        }
    }
    .image__holder {
        margin-bottom: 45px;
        @include mq(lg) {
            margin-bottom: 0;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
}
